@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A1A1A;
    color: #f9f9f9;
}
h3 {
    color: #29838E;
}
h4 {
    color: #20666F;
}
@media screen and (min-width: 640px) {
.centered-bottom, .centered-top {
    margin: 0 auto;
    width: min(1200px, 95%);
}
}
a {
    color: inherit;
    text-decoration: none;
}
.tweets {
    width: 505px;
    height: 450px;
    border: none;
    border-radius: 20px;
}
.trigger-btn {
    border: none;
    background: none;
    margin-right: 5px;
    filter: opacity(0.5);
}
.trigger-btn img{
    --dimension: 15px;
    width: var(--dimension);
    height: var(--dimension);
    
}
.trigger-btn:hover {
    filter: opacity(1);
}
.tooltip {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 12px;
	line-height: 1.4;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;
}
.tooltip.in {
	opacity: .9;
	filter: alpha(opacity=90);
}
.fade.in {
	opacity: 1;
}
.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.tooltip-inner {
    max-width: 220px;
    font-size: 1.1rem;
    padding: 0.25em 0.5em;
    font-weight: normal;
    color: #fff;
    text-align: center;
    background-color: #252727;
    box-shadow: 0 0 6px 100vmax rgb(0 0 0 / 70%);
    /* border-radius: .375em; */
}
.tooltip.top {
    padding: 5px 0;
}
.tooltip {
    top: 50% !important;
    left: 50% !important;
    position: fixed;
    display: block !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

